body{
    
}


main{
    margin:10vh 5vw auto;
}

.mainboard{
    display:flex;
}

.textcard .header{
    display: flex;
    justify-content: space-between;
}

.textcard .header .description{
    font-size:16pt;
}

.textcard .main{
    font-size:14pt;
    margin: 2vh 0 4vh;
    font-family: 'Times New Roman','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ＭＳ Ｐ明朝','MS PMincho',serif;

}

.textcard {
    font-size:12pt;
    width:40vw;
    heigth:70vh;
    margin: 0vw 5vw 0vw; 
}

.textcard .footer{
    display: flex;
    justify-content: space-between;
}

.active > .footer{
    width:40vw;
}

.textcard .footer *{
    
}

.gittree{
}

.gittree .expand{
    width:90vw;
    height:70vh;
}

.gittree .squish{
    width:30vw;
    height:70vh;
    /* filter: blur(5px); */
}

.link {
    fill: none;
    stroke: black;
    stroke-width: 3;
}

.label{
    fill: white;
}

.node{
    transition: fill 1s;
    fill:black;
}

.node.focused{
    transition: fill 1s;
    fill:red;
}

.close-button .rect {
    fill:none;
    stroke:black;
    stroke-width:2px;
}

.close-button .line{
    stroke:red;
    stroke-width:2px;
}
